@import 'tailwindcss';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

/* Убираем outline с графиков Recharts */
.recharts-surface,
.recharts-wrapper,
.recharts-bar-rectangle,
.recharts-layer {
  outline: none !important;
}

.recharts-surface:focus,
.recharts-wrapper:focus {
  outline: none !important;
}
